<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="global.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="static/script.js"></script>
        <title> {{name}} </title>
    </head>
    <body>
        <!-- Content -->
        <div id="content">
            <div class="row">
                <div class="container" style="margin-top: 6em">
                    <div class="col-lg-4 col-lg-offset-1">
                        <section id="information">
                            <div>
                                <a href="#"><img src="static/assets/image.jpg" width="350" height="350" /></a>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-7">
                        <h1><b> {{name}} </b> </h1>
                        <h3> <b>Primary Job Title:</b> {{job}} </h3>
                        <h3> <b>Company:</b> {{company}} </h3>
                        <h3> <b>Location:</b> {{location}} </h3>
                        <h3> <b>Sector:</b> {{sector}} </h3>
                        <h3> <b>Stage:</b> {{stage}} </h3>
                        <h3> <b>Bio:</b> {{bio}} </h3>
                        <br>
                        <button style="float:left; margin-right: 5px;" type="button" class="btn btn-primary" id="currentInvestments">
                            Request to Contact {{name}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>